<div class='product-show'>
  <div class='product-img'><%= image_tag @cocktail.photo %></div>
  <div class='product-details'>
      <h1><%= @cocktail.name.capitalize %></h1>
      <ul>
        <% @cocktail.doses.each do |dose| %>
          <li>
            <%= dose.description + ' - ' + dose.ingredient.name %> 
            <%= link_to 'X', dose_path(dose), method: :delete %>
            
          </li>
        <% end %>
        <%= link_to 'Add dose', new_cocktail_dose_path(@cocktail) %>
      </ul>
  </div>
</div>